@sigstore/cosign-codeowners

# The CODEOWNERS are managed via a GitHub team, but the current list is (in alphabetical order):

# asraa
# bobcallaway
# dekkagaijin
# developer-guy
# dlorenc
# font
# hectorj2f
# loosebazooka
# luhring
# lukehinds
# mattmoor
# n3wscott
# priyawadhwa
