@sigstore/cosign-codeowners

# The CODEOWNERS are managed via a GitHub team, but the current list is:
# dlorenc
# dekakgaijin
# asraa
# loosebazooka
# bobcallaway
# font
# lukehinds
# developer-guy
# hectorj2f
