name: Helm CI

on:
  pull_request:
    branches:
      - "*"

  push:
    branches:
      - main
      - helm-release-jobs

jobs:

  changes:
    runs-on: ubuntu-latest
    outputs:
      go: ${{ steps.filter.outputs.go }}
      charts: ${{ steps.filter.outputs.charts }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            charts:
              - 'chart/cosigned/Chart.yaml'
              - 'chart/cosigned/**/*'

  helm:
    name: Helm chart
    runs-on: ubuntu-latest
    needs:
      - changes
    if: |
      (needs.changes.outputs.charts == 'true')

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - uses: sigstore/cosign-installer@v1.1.0

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Run chart-testing (lint)
        run: ct lint --check-version-increment="false" --config chart/ct.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.2.0

      - name: Install Cert-Manager
        run: |
          helm install \
            cert-manager jetstack/cert-manager \
            --namespace cert-manager \
            --create-namespace \
            --version v1.5.0 \
            --set installCRDs=true

      - name: Create temp secret for testing
        run: |
          export COSIGN_PASSWORD=honk@123
          cosign generate-key-pair
          kubectl create secret generic ci-honk-secret -n default --from-file=cosign.pub=./cosign.pub
          kubectl wait --for=condition=ready --timeout=300s pod --all -n cert-manager
          kubectl get po -A

      - name: Run chart-testing (install)
        run: ct install --config chart/ct.yaml
