#
# Copyright 2021 The Sigstore Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI-Validate-Release-Job

on:
  push:
    branches:
      - main
      - release-*
  pull_request:

jobs:
  check-signature:
    runs-on: ubuntu-latest
    container:
      image: gcr.io/projectsigstore/cosign:v2.1.1@sha256:411ace177097a33cb2ee74028a87ffdcb70965003cd1378c1ec7bf9f9dec9359

    steps:
      - name: Check Signature
        run: |
          cosign verify ghcr.io/gythialy/golang-cross:v1.20.6-0@sha256:e0289471f770f238e4fb608e0d804aaf45504ab50b11527cfd00fa42e64344fc \
          --certificate-oidc-issuer https://token.actions.githubusercontent.com \
          --certificate-identity "https://github.com/gythialy/golang-cross/.github/workflows/release-golang-cross.yml@refs/tags/v1.20.6-0"
        env:
          TUF_ROOT: /tmp

  validate-release-job:
    runs-on: ubuntu-latest
    needs:
      - check-signature

    container:
      image: ghcr.io/gythialy/golang-cross:v1.20.6-0@sha256:e0289471f770f238e4fb608e0d804aaf45504ab50b11527cfd00fa42e64344fc

    permissions: {}

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      # Error: fatal: detected dubious ownership in repository at '/__w/cosign/cosign'
      #      To add an exception for this directory, call:
      #          git config --system --add safe.directory /__w/cosign/cosign
      # Reason: Recent versions of git require the .git folder to be owned
      # by the same user (see https://github.blog/2022-04-12-git-security-vulnerability-announced/).
      # Related
      # - https://github.com/actions/runner/issues/2033
      # - https://github.com/actions/checkout/issues/1048
      # - https://github.com/actions/runner-images/issues/6775
      - run: git config --system --add safe.directory /__w/cosign/cosign
      - name: check disk space
        run: df -h
      - name: goreleaser snapshot-linux
        run: make snapshot
        env:
          PROJECT_ID: honk-fake-project
          RUNTIME_IMAGE: gcr.io/distroless/static:debug-nonroot
      - name: check disk space
        run: df -h
      - name: check binaries
        run: |
          ./dist/cosign-linux-amd64 version
      - name: removes the dist folder
        run: |
          rm -rf ./dist
