#
# Copyright 2024 The Sigstore Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Whitespace

on:
  pull_request:
    branches:
      - 'main'
      - 'release-*'

permissions: {}

jobs:

  whitespace:
    name: Check Whitespace
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: chainguard-dev/actions/trailing-space@eba358c567c5b091e34187d905258baebdd2a4ec # v1.5.16
        if: ${{ always() }}

      - uses: chainguard-dev/actions/eof-newline@eba358c567c5b091e34187d905258baebdd2a4ec # v1.5.16
        if: ${{ always() }}
